/**
*	0.5.0 - 2015-06-01
*/

td.label, td.label_text {
	display:block;
	float:left;
	width:110px;
	text-align:right;
	color:#555;
	padding-right:10px;
	padding-top:5px;
	height:18px;
	margin-bottom:5px;
}

td.input {
	display:block;
	float:left;
	width:400px;
	height:18px;
	margin-bottom:5px;
}
.settings_table input[type='text'], textarea {
	display:block;
	font-family: Verdana, sans-serif;
	font-size:11px;
	color:#555;
	padding: 6px;
}
textarea {
	height:200px;
	width: 100%;
	margin-bottom:20px;
	float:left;
}
td.input_text, td.label_text {
	float:left;
	height:200px;
	margin-bottom:20px;
	margin-top:0px;
}

.settings_table td.input_text {

}

select[name='state'], select[name='type'] { width:120px; }

table.module_info {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px;
}

input.button {
	margin-top: 20px;
	width: 180px;
}

tr.upload-list {

}

div.MultiFile-label {
	margin-bottom: 2px;
	margin-top: 0px;
	padding: 0px;
}

div#upload_wrap {
	margin-bottom: 1px;
}

div#screen_preview {

}

div.screen_preview img {
	width: 80px;
	display:block;
	float: left;
	margin: 2px;
	outline: 1px solid #bbbbbb;
    margin-bottom: 6px;
}

img.del_icon {
	width: 16px !important;
	height: 16px !important;
}

ol li {
	outline: 1px solid;
	display:block;
	float: left;
	margin-right:10px;
	margin-bottom: 10px;
	height: 84px;
}
ol li input[type='checkbox'] {
	margin-left: 10px;
}

span#guid {
	color:#999999;
	display:block;
	margin-top:4px;
}

select.mod_info {
	width: 170px;
	overflow: hidden;
}

td.html {
	padding-top: 2px;
	margin-top: 2px;
	padding-left: 10px;
	color: #990000;
	font-weight: bold;
}

/**
 *	Image list
 */
td.c_title {
	font-weight: bold;
	color: #555555;
}
td.images {
	min-height: 200px;
	padding: 0px;
}
table.img_detail {
	width: 100% !important;
	border-collapse: separate;
	border-spacing: 0px;
	height: auto !important;
}

table.img_detail tr td {
	vertical-align: middle;
	margin-right: 5px !important;
	padding-left: 10px;
	padding-right: 10px;
}

input[type="text"].img_detail {
	width: 200px;
	outline: 1px solid #555555 !important;
	border: 0px;
	padding: 2px;
	margin: 0px;
}

td.mi_edit {
	margin-bottom:10px;
}

.mi_edit input,.mi_edit select {
	width:100%;
	border:1px solid #ccc;
	padding: 6px;
}

.ui.table tr td {
    border-top: 0px !important;
}

.mod_info_backend_spacer {
    display: block;
    float: left;
    min-height: 8px;
}