/**
 *
 *  @module         Module Information
 *  @version        see info.php of this module
 *  @author         Dietrich Roland Pehlke
 *  @copyright      2009-2023 Dietrich Roland Pehlke
 *  @license        http://www.gnu.org/licenses/gpl.html
 *  @license terms  see info.php of this module
 *  @platform       see info.php of this module
 *
 *
 */ 
table.module_info {
	width: 100%;
	font-size: 12px;
	border-collapse: separate;
	border-spacing: 0px;
}

table.module_info tr {
	margin: 0px;
	padding: 0px;
}

td.label {
	color: #7cb22a;
	font-weight: bold;
	width: 80px;
	text-align: right;
	padding-right: 10px;
	margin: 0px;
	height: auto;
	vertical-align: top !important;
}

td.value {
	margin: 0px;
	color: #888888;
	height: auto;
}

td.value a img.single {
	max-width: 400px;
	overflow: hidden;
}

td.value a img.thumb {
	max-width: 120px;
	overflow: hidden;
	display: block;
	float: left;
}

/**
 *	Display code
 */
pre.example, pre.php {
	line-height: 1.0em !important;
	width: 94%;
	color: #666666;
	background-color: #DDDDDD;
	overflow: hidden;
	padding: 10px;
	margin-bottom: 20px;
}

pre.php {
	background-color: #DDFFDD;
}

td.value ul {
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
}

span.require {
	color: #AA0000;
	font-weight: bold;
}